/*
Base styles

Color palette:
dark blue: #0f043a;
main blue: #24126a;
secondary blue: #6ee8fd;
highlight purple: #742bab;
light purple: #b9b7ff;
accent pink: #d3009c;
*/

body {
    font-family: 'Lato', sans-serif;
}

.page{
    right:0;
    transition: right 160ms ease;
    position: relative;
}

.res-padding{
    max-width: 1024px;
    margin: 0 auto;
    padding:0 36px;
}

.container-padding{
    padding: 96px 0;
}

.button{
    border-radius: 2em;
    padding: 10px 24px;
    width: max-content;
    background-color:#d3009c;

    font-size: 1em;
    color:white;
    font-weight: 700;

    text-decoration: none;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    display: flex;

    align-items: center;
    text-align: center;
    -webkit-box-align:center;

    -webkit-transition: 200ms ease;
    transition: 200ms ease;
}

.button:hover{
    background-color:#e222af;
    color: white;
}

.large-btn{
    font-size:1.2em;
}

.form input{
    width: calc(100% - 32px);
    height: 1em;
    border-radius: 2px;
    left:0;
    right:0;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #eee;
    font-size:0.8em;
  }

.form-error{
    color: red;
    font-size: 0.8em;
    margin-bottom:12px;
}
  
.icon-error{
    margin-right:6px;
}

h1{
    font-size:3em;
    color:#121212;
    font-weight:700;
}

p{
    font-size:1.4em;
    color:#525252;
    font-weight:500;
    line-height: 1.4em;
}

.icon-margin-left{
    margin-left:6px;
}

/*
Home Styles
*/
.home-banner{
    background: url("../images/background.svg");
    background-size: 101% auto; 
    background-repeat: no-repeat;
    background-position: bottom center;  
    background-color:#24126a;
    font-size:2em;
    color:#525252;
    width:100%;
    font-weight:700;
    height:400px;
    width:100%;
    position: relative;
    z-index:-1;

    display:flex;
    align-items: center;
    -webkit-box-align:center;
}

.home-section{
    height:400px;
}

.banner-img-wrapper{
    align-items: center;
    position: absolute;
    vertical-align:middle;
    bottom:0;
    width:30%;
    max-width: 500px;
    right:15%;
    transform: translate(0, 50%); 
    -webkit-box-align:center;
}

.home-section {
    margin-top:-96px;
}

.banner-title{
    font-size:3em;
    color:#121212;
    width:100%;
    font-weight:900;
}

.banner-subtitle{
    font-size:2em;
    color:#525252;
    width:100%;
    font-weight:900;
    margin-top:18px;
}

.home-cta{
    margin-top:48px;
    padding: 16px 48px;
}

.intro-section{
    background-color: #fafafa;
}

.intro-title{
    font-size:3em;
    color:#121212;
    width:100%;
    font-weight:900;
}

.intro-p{
    font-size:1.4em;
    color:#525252;
    width:50%;
    font-weight:500;
    margin-top:18px;
    line-height: 1.4em;
}

/*Banner image animation*/
#particles{ 
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;    
    width:100%;
    top:-50%;

    -webkit-animation: action 4s infinite  alternate;
    animation: action 4s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

#coin{
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;    
    width:50%;
    top:-40%;

    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#base{
    width:100%;
}

/*Register Styles*/
.register-section{
    background-color:#24126a;
}

.flex-cont{
    display:flex;
    align-content: center;
}

.col-left{
    flex: 1;
}

.col-right{
    flex: 1;
}

.register-p{
    color:#b9b7ff;
    font-size:1.2em;
    line-height: 1.6em;
    margin-top:18px;
}

#register-module{
    background-color:white;
    border-radius:4px;
    padding: 64px;
}

#register-banner{
    padding:0 32px;
    margin-right:32px;
    border-right: 1px solid #b9b7ff;
}

#register-form > input {
    margin-bottom:12px;
}

#register-img {
    width:100%;
}

#register-submit{
    display:block;
    margin-top:12px;
    width:100%;
    text-align: center;
}

.register-description{
    font-size:1.6em;
    color:#525252;
    text-align: center;
    margin-bottom:24px;
}

.register-reminder{
    width: 100%;
    text-align: center;
    color:#525252;
    font-size:0.8em;
    margin-bottom:24px;
}

.register-reminder a{
    display:inline-block;
    color:#d3009c;
}

.register-reminder a:hover{
    color:#e222af;
}

/*Login Styles*/
.login-forgetpw{
    width: 100%;
    text-align: center;
    color:#525252;
    font-size:0.8em;
    margin-top:24px;
}

.login-forgetpw a{
    display:inline-block;
    color:#afafaf;
}

.login-forgetpw a:hover{
    color:#525252;
}

/*User Styles*/
.user-toolbar{
    padding:36px;
    background-color:white;
    border-bottom: 1px solid #f1f1f1;
}

.toolbar-welcome{
    display:inline-block;
    font-size:1em;
    flex: 1;

}

.toolbar-balance{
    flex: 1;
}

.toolbar-balance > span{
}

.toolbar-title{
    font-size:2em;
    font-weight: 700;
    color:#525252;
}

#label-balance{
    font-size:0.8em;
    text-align: right;
}

#value-balance{
    margin-top:6px;
    text-align: right;
    font-size:2em;
    font-weight: 700;
}

#value-balance:before{
    content: '$';
}

.transaction-ul{
    position: relative;
    width:100%;
    border-radius: 4px;
}

.transaction-ul li{
    width: 100%;

}

.transaction-ul li{
    display:flex;
    width: 100%;
    padding:24px;
    border-left: 3px solid #d3009c;
    background-color:#ffffff;
    margin-bottom:8px;
}

.trans-title span{
    display:inline-block;
    font-size: 1em;
    font-weight: 700;
    color:#afafaf;
}

.trans-from{
    margin-bottom: 6px;
}

.trans-amount{
    font-size:1.4em;
    font-weight: 2em;
    font-weight: 700;
}

.trans-amount:before{
    content: '$';
}

.trans-left{
    flex: 3;
    border-right:1px solid #efefef;
}

.trans-arrow i{
    margin: 0 4px;
}

.trans-right{
    flex: 1;
}

.trans-right span{
    text-align: right;
    font-size:0.8em;
    color: #afafaf;
}

.trans-id{
    margin-bottom:6px;
}

.trans-date{
}

/*Dashboard Styles*/
.dashboard-section{
    background-color:#fafafa;
    min-height: calc(100vh - 360px);
}

.dashboard-padding{
    padding: 64px 0;
}

.dashboard-left{
    flex:1;
}

.dashboard-right{
    flex:2;
}

.notfound-section{
    background-color:#24126a;
}

.notfound-img{
    margin: 96px auto 48px;
}

.notfound-title{
    color:#fafafa;
    font-size:4em;
    font-weight:900;
    width: 100%;
    text-align: center;
}

.notfound-msg{
    color:#fafafa;
    font-size:1.6em;
    margin-top:24px;
    width: 100%;
    text-align: center;
}

.notfound-cta{
    padding: 16px 48px;
    margin: 48px auto;
    display:block;
}

.notfound-padding{
    padding:24px 0 48px;
}

/*Footer Styles*/
footer{
    background-color: #fafafa;
    padding:96px 0;
}

.footer-right-info{
    color:#b9b7ff;
    float:right;
}

.footer-links li{
    display:inline-block;
    margin-right: 24px;
}

.footer-links li a{
    font-weight:700;
    color:#b9b7ff;
}

.footer-links li a:hover{
    color:#151222;
}

/*Responsive Styles*/
/*Laptop*/
@media screen and (max-width: 1366px){
    .res-padding{
        padding:0 24px;
    }

    .banner-title{
        font-size: 3em;
    }

    .home-banner{
        height: 360px;
    }
}
/*Tablet*/
@media screen and (max-width: 1024px){
    .res-padding{
        padding:0 24px;
    }
}

/*Phone*/
@media screen and (max-width: 736px){
    .res-padding{
        padding:0 12px;
    }
}